
/* Formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #333;
}

input {
    width: 250px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #b30c0c;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #962323;
}

/* Link para Login */
p {
    margin-top: 15px;
    font-size: 16px;
}

p a {
    color: #b30c0c;
    font-weight: bold;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
