.tabelaDeMesas
{
    margin: 10px auto;
    text-align: center;
}
.tituloTabela
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border: transparent;
}
tr,td,th
{
    border: 1px solid #B0C4DE;
    padding: 5px;
}
tr,td
{
    font-size: 14px;
}